/*----------------------------------------
 Garbage Styling :: Delete after use
----------------------------------------*/

/*----------------------------------------
1)			SiteBlock Style
----------------------------------------*/
@font-face {
    font-family: 'Remachine Script';
    src: url('../fonts/RemachineScript.ttf') format('truetype');
}
@font-face {
    font-family: 'DancingScript';
    src: url('../fonts/DancingScript-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'ArchitectsDaughter';
    src: url('../fonts/ArchitectsDaughter-Regular.ttf') format('truetype');
    font-weight: 400;
}

/*----------------
	1.1) Body Style */
html {
    height: 100%;
}
body {
    height: 100%;
    color: rgb(0, 0, 0);
    user-select: none;
}

/*----------------
    1.2) Container Style */

#wrapper {
    overflow: hidden;
    position: relative;
    min-height: 100vh;
}

.container {
    max-width: 1192px;
    width: calc(100% - 40px);
    padding: 0 40px;
    margin: 0 auto;
}
/*----------------
    1.3) HEADER STYLE */

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
}
#header.collapse .header-secondary {
    height: 0;
    padding: 0;
}
.header-wrapper {
    padding: 0px 50px;
    color: #FFFFFF;
    font-weight: 300;
}
.header-secondary {
    font-family: 'DancingScript';
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding: 5px 0px;
    border-bottom: 2px solid white;
    overflow: hidden;
}
.header-secondary .head-left a {
    margin-right: 20px;
    display: inline-block;
}
.header-secondary .head-left a i {
    color: #e07a5f;
    margin-right: 5px;
}
.header-secondary .head-right a {
    margin-left: 8px;
    display: inline-block;
}
.header-secondary .head-right .media-head {
    margin-right: 10px;
    display: inline-block;
}

.header-primary {
    display: flex;
    justify-content: space-evenly;
    font-family: 'ArchitectsDaughter';
    text-transform: uppercase;
    border-bottom: 2px solid white;
}
.header-primary .middle {
    font-family: 'Remachine Script';
    font-size: 32px;
    font-weight: 900;
    padding: 15px 10px;
}
.header-primary .menu-left,
.header-primary .menu-right {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}
.header-primary .hover-nav {
    position: relative;
    height: 100%;
}
.header-primary .hover-nav > a {
    display: inline-flex;
    padding: 8px 10px;
    height: 100%;
    align-items: center;
}
.header-primary .hover-nav > a i {
    transform: rotate(-90deg);
    color: #e07a5f;
}
.header-primary .hover-nav > a:hover i {
    transform: rotate(0deg);
}
.header-primary .hover-nav > a:hover + ul,
.header-primary .hover-nav ul:hover {
    opacity: 1;
    visibility: visible;
}
.header-primary .hover-nav ul {
    padding: 10px 25px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    opacity: 0;
    visibility: hidden;
}
.header-primary .hover-nav li {
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
}
.header-primary .hover-nav ul a {
    white-space: nowrap;
}
.opener-wrapper {
    justify-content: space-between;
    padding: 10px 50px;
    border-bottom: 2px solid white;
    background-color: #FFFFFF;
    font-size: 20px;
    z-index: 95;
    display: none;
    align-items: center;
}
.opener-wrapper .logo {
    font-size: 22px;
    font-family: 'Remachine Script';
    padding: 5px 10px;
    letter-spacing: 2px;
}
.opener-wrapper > a {
    display: inline-block;
    padding: 5px;
}
@media screen and (max-width:1024px) {
    .header-wrapper {
        transform: translateY(-100%);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 90;
        background: #FFFFFF;
        color: #000000;
    }
    #header.show .header-wrapper {
        transform: translateY(100%);
    }
    .opener-wrapper {
        display: flex;
    }
    .header-secondary {
        font-size: 20px;
    }
    .header-secondary .head-left span {
        display: none;
    }
    .header-secondary .head-left a i {
        margin: 0;
    }
    .header-secondary .head-right .media-head {
        display: none;
    }
    .header-primary {
        display: block;
        overflow: scroll;
        max-height: calc(100vh - 45px);
        margin: 10px 0px;
    }
    .header-primary .menu-left, 
    .header-primary .menu-right {
        flex-direction: column;
    }
    .header-primary .middle {
        display: none;
    }
    .header-primary .hover-nav > a {
        width: 100%;
        justify-content: space-between;
    }
    .header-primary .hover-nav > a:hover i,
    .header-primary .hover-nav > a i {
        transform: rotate(-90deg);
    }
    .header-primary .hover-nav > a.expand i {
        transform: rotate(0deg);        
    }
    .header-primary .hover-nav > a + ul, 
    .header-primary .hover-nav ul {
        position: static;
        opacity: 1;
        visibility: visible;
        transform: none;
        padding: 0px 10px;
        height: 0px;
        overflow: hidden;
    }
    .header-primary .hover-nav > a.expand + ul {
        height: auto;
    }
    .header-primary .hover-nav ul a {
        width: 100%;
        padding-left: 25px;
    }
}

/*----------------
    1.3) FOOTER STYLE */

#footer {
    /* position: absolute;
    bottom: 0;
    left: 0;
    right: 0; */
}
.footer-wrapper {
    background-color: #111111;
    color: #b9b9b9;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.foot-left {
    font-family: 'DancingScript';
    display: flex;
    font-size: 20px;
}
.foot-left .media-head {
    margin-right: 15px;
}
.foot-left a {
    margin: 0px 5px;
    display: inline-block;
}
.foot-right {
    font-size: 32px;
    font-family: 'Remachine Script';
}

@media screen and (max-width:1024px) {
    .footer-wrapper {
        flex-direction: column;
    }
}

/*----------------------------------------
2)			Global Typography
----------------------------------------*/

/*----------------
    2.1) Heading */

h1 {
    font-family: inherit;
    font-weight: 900;
    font-size: 16rem;
    letter-spacing: 0;
    text-transform: uppercase;
    white-space: nowrap;
}

h2 {
    font-family: inherit;
    font-weight: 700;
    font-size: 8rem;
    line-height: inherit;
    letter-spacing: 0.005rem;
}

h3 {
    font-family: inherit;
    font-weight: 700;
    font-size: 4rem;
    line-height: inherit;
    letter-spacing: 0.005rem;
}

h4 {
    font-family: inherit;
    font-size: 2.8rem;
}

h5 {
    font-family: inherit;
}

h6 {
    font-family: inherit;
}

/*----------------
    2.2) Text Content */

p {
    font-size: 1.6rem;
    text-align: justify;
    margin-bottom: 15px;
}

p:last-child {
    margin-bottom: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

/*----------------
    2.3) Text Alignment */

.alignC {
    text-align: center;
}
.alignR {
    text-align: right;
}
.alignL {
    text-align: left;
}

.paraC p {
    text-align: center;
}
.paraR p {
    text-align: right;
}
.paraL p {
    text-align: left;
}

/*----------------
    2.4) List Style */
    
/*----------------------------------------
3)			Global Class
----------------------------------------*/
    
/*----------------
    3.1) Clearfix */

.clearfix::before,
.clearfix::after {
    content: '';
    display: table;
}
.clearfix::after {
    clear: both;
}
.clearfix {
    zoom: 1;
}

/*----------------
    3.2) Float helping class */

.floatL {
    float: left !important;
}
.floatR {
    float: right !important;
}
.clearL {
    clear: left;
}
.clearR {
    clear: right;
}

/*----------------
    3.3) Flex helping class */

.flex {
    display: flex;
}
.flex-v-Center {
    display: flex;
    align-items: center;
}
.flex-h-Center {
    display: flex;
    justify-content: center;
}
.flex-vh-Center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-v-top {
    display: flex;
    align-items: flex-start;
}
.flex-v-bottom {
    display: flex;
    align-items: flex-end;
}
.flex-h-left {
    display: flex;
    justify-content: flex-start;
}
.flex-h-right {
    display: flex;
    justify-content: flex-end;
}
.flexwrap {
    flex-wrap: wrap;
}

/*----------------
    3.4) Width helping class */

.col-two .col {
    width: 50%;
}
.col-three .col {
    width: 33.3%;
}
.col-four .col {
    width: 25%;
}
    
/*----------------
    3.5) Width helping class */
    
.btn {
    display: inline-block;
    padding: 8px 16px;
    font-size: 10px;
    font-weight: 500;
    border-radius: 3px;
    text-transform: uppercase;
    background-color: #222222;
}
.btn i {
    margin-left: 10px;
}
    
/*----------------------------------------
4)			Form Element
----------------------------------------*/

input,
select,
textarea {
    font-family: inherit;
    font-size: 2.2rem;
    font-weight: 600;
    padding: 10px 25px;
    color: inherit;
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
    line-height: inherit;
    width: 100%;
}
textarea {
    min-height: 300px;
    padding: 10px 15px;
    resize: none;
}
    
/*----------------------------------------
5)			Html Identity
----------------------------------------*/

/*----------------
    5.1) Pointer */

/*----------------
    5.2) Tab */

/*----------------
    5.3) Accordion */

/*----------------
    5.4) ScrollBar */

/*----------------
    5.5) Preloader */
        
/*----------------
    5.6) Cursor */
