#header {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 500;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 8px 25px 5px;
    transform: translateY(-100%);
    transition: all 0.2s linear;
    z-index: 800;
    min-height: 82px;
    &.active {
        transform: translateY(0%);
    }
    .header-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo {
        max-width: 250px;
        display: inline-block;
    }
}

#navigator {
    ul {
        display: flex;
        margin: 0;
    }
    li {
        margin: 0 10px;
    }
    a {
        color: inherit;
        position: relative;
        display: inline-block;
        padding: 5px 8px 12px;
        transition: all 0.2s linear;
        &::after {
            content: ' ';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 0%;
            height: 2px;
            transition: all 0.2s linear;
        }
        &:hover::after {
            width: 100%;
        }
    }
}

.search-bar {
    border-radius: 30px;
    height: 35px;
    width: 200px;
    border: 2px solid;
    padding: 2px 10px;
    font-size: 12px;
    transition: all 0.2s linear;
    background: transparent;
    &:focus {
        outline: 0;
    }
}

.header-right {
    display: flex;
    align-items: center;
}

$header-light-color: #222;
$header-light-back: #DDD;
.theme-light {
    color: $header-light-color;
    background-color: $header-light-back;
    .logo-white {
        display: none;
    }
    #navigator {
        a {
            &:hover {
                color: $header-light-color;
            }
            &::after {
                background: $header-light-color;
            }
            &:hover::after {
                background: $header-light-color;
            }
        }
    }
    .search-bar {
        border-color: $header-light-color;
    }
     ::placeholder {
        color: $header-light-color;
        opacity: 0.5;
    }
}

$header-dark-color: #DDD;
$header-dark-back: #222;
.theme-dark {
    color: $header-dark-color;
    background-color: $header-dark-back;
    .logo-black {
        display: none;
    }
    #navigator {
        a {
            &:hover {
                color: $header-dark-color;
            }
            &::after {
                background: $header-dark-color;
            }
            &:hover::after {
                background: $header-dark-color;
            }
        }
    }
    .search-bar {
        color: $header-dark-color;
        border-color: $header-dark-color;
    }
     ::placeholder {
        color: $header-dark-color;
        opacity: 0.5;
    }
}

@media screen and (max-width: 992px) {}