.hero {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;  
}
.slider-container {
    position: relative;
    height: 100%;
    flex: 1;
}
.slider-container .slide {
    display: none;
    height: 100%;
}
.slider-container .slide img {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    object-position: center;
}
.slider-container .content {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 0%;
    right: 0%;
    transform: translateY(-50%);
    color: #FFFFFF;
    width: 100%;
    z-index: 5;
    text-align: center;
}
.slider-container h2 {
    font-size: 48px;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}
.slider-container h2 + small {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
}
.slider-container .prev,
.slider-container .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: auto;
    padding: 20px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    background: rgba(173, 216, 230, 0.1);
    user-select: none;
    z-index: 15;
}
.slider-container .prev {
    left: 0;
    border-radius: 0 8px 8px 0;
}
.slider-container .next {
    right: 0;
    border-radius: 8px 0 0 8px;
}
.slider-container .prev:hover,
.slider-container .next:hover {
    background-color: rgba(173, 216, 230, 0.3);
}
.slider-container .animate {
    -webkit-animation-name: animate;
    -webkit-animation-duration: 1s;
    animation-name: animate;
    animation-duration: 2s;
}
  @keyframes animate {
    from {
        transform: scale(1.1) rotateY(10deg);
    }
    to {
        transform: scale(1) rotateY(0deg);
    }
}
.rev-bottom {
    position: absolute;
    width: 100%;
    left: 0%;
    right: 0%;
    bottom: 0;
    z-index: 5;
}
.rev-bottom img {
    width: 100%;
    max-height: 30px;
}

@media screen and (max-width) {
    
}

.mkdf-wrapper {
    position: relative;
}
.mkdf-wrapper-inner {
    width: 100%;
    overflow: hidden;
}
.mkdf-vertical-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
}
.mkdf-content {
    padding-left: 260px;
}
.mkdf-content-inner {
    width: 100%;
    overflow: hidden;
}